<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
body
    form(method="POST" action="/publicate")
        label
        | Title
        input(type="text" name="title")
        label
        | City
        input(type="text" name="city")
        | Country
        input(type="text" name="country")
        | Description
        input(type="text" name="description")
        | Max People
        input(type="text" name="maxUser")
        | Price
        input(type="text" name="price")
        | Start Date 
        input(type="text" name="beginTourDate")
        | End Date 
        input(type="text" name="endTourDate")
        input(type="submit" value="Create")

        
    //- username: {type: String, validate: /[a-zA-Z0-9]+/, required: true, unique: true},
    //- password: {type: String, required: true},
    //- email:{type: String, required: true},
    //- firstname: {type: String, validate: /[a-zA-Z]+/, required: true},
    //- lastname:{type: String, validate: /[a-zA-Z]+/, required: true},
    //- age: {type: Number, min:0 , max:150, required: true},
    //- country: {type:String, required: true},
    //- city: {type:String, required: true},
    //- userOfferTours:[{}],
    //- userBoughtTours:[{}]