<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
body
    form(method="POST" action="/publicate")
        label
        | Username
        input(type="text" name="username")
        label
        | Password
        input(type="password" name="password")
        | Email
        input(type="email" name="email")
        | Firstname
        input(type="text" name="firstname")
        | Lastname
        input(type="text" name="lastname")
        | Age
        input(type="text" name="age")
        | Country
        input(type="text" name="country")
        | City
        input(type="text" name="city")
        input(type="submit" value="Create")
