extends _layout
block styles
    link(rel="stylesheet" href="./styles/about-us.css")
block container
    div
    section.team
        div
        .row
        .col-md-10.col-md-offset-1
            .col-lg-12
            h6.description OUR TEAM
            .row.pt-md
                .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                    img.img-responsive.img-portrait(src='./images/Martin.jpg')
                h1 Martin Manchev
                .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                    img.img-responsive.img-portrait(src='./images/Krasimir.jpg')
                h1 Krasimir Iliev
                .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                    img.img-responsive.img-portrait(src='./images/Nadejda.jpg')
                h1 Nadejda Nicolova
                .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                    img.img-responsive.img-portrait(src='./images/Kaloyan.jpg')
                h1 Kaloyan Stoykov
                .col-lg-3.col-md-3.col-sm-4.col-xs-12.profile
                .img-box
                    img.img-responsive.img-portrait(src='./images/Pavel.jpg')
                h1 Pavel Hristov