
div
    table
        tr
            td
                each country in countryList
                    div
                        button(class="country-name" id=country._id name=country.name) #{country.name}
            td
                div#Left
