
div
    table
        tr
            td
                each country in countryList
                    div(class="country-name" id=country._id name=country.name) #{country.name}
                        button.del Add
                        button.edit Edit
            td
                div#Left
