extends _layout

block styles
    link(rel="stylesheet" href="./styles/home-page.css")

block container
    div.jumbotron
        h1.home-text New Year's Eve
        p.home-text Are you wondering where to spend New Year's Eve?
        p.home-text: a.btn.btn-primary.btn-lg Learn more
        
