extends _layout
block styles
    link(rel="stylesheet" href="./login-files/css/style.css")
    link(href="./bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet")
block scripts
    script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="./login-files/js/index.js")
block container
    .wrapper
        .container
            h1 Welcome
            form.form(method="POST" action="/login")
                input(type='text' placeholder='Username' name="username")
                input(type='password' placeholder='Password' name="password")
                button(type='submit') Login
                br
                div
                    i.fa.fa-facebook-official(aria-hidden="true")  
                    a.fb-link.btn(href="/auth/facebook") Login with facebook
                
        ul.bg-bubbles
            li
            li
            li
            li
            li
            li
            li
            li
            li
            li
        



