extends _layout
block container
        div.alert.alert-dismissible.alert-danger
            button.close(type="button" data-dismiss="alert") &times;
            strong You must be logged in to make new travel advertisement. 
            a.alert-link(href="/login") Log in now.
