<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
body
    form(method="POST" action="/publicate")
        label
        | Headline
        input(type="text" name="headline")
        br
        | City
        input(type="text" name="city")
        br
        | Country
        input(type="text" name="country")
        br
        | Description
        input(type="text" name="description")
        br
        | Max People
        input(type="text" name="maxUser")
        br
        | Price
        input(type="text" name="price")
        br
        | End Join Date 
        input(type="text" name="endJoinDate")
        br
        | Start Date 
        input(type="text" name="beginTourDate")
        br
        | End Date 
        input(type="text" name="endTourDate")
        br
        input(type="submit" value="Create")

        
    //- creator: String,
    //- headline: {type: String, required: true},
    //- city: {type:String, required: true},
    //- country:{type:String, required: true},
    //- description: String,
    //- price: Number,
    //- maxUser: Number,
    //- endJoinDate: Date,
    //- beginTourDate: Date,
    //- endTourDate: Date,
    //- isValid: Boolean,
    //- usersInTour:[]