extends _layout

block styles
    link(rel="stylesheet" href="./styles/tour-page.css")
    link(href="./bower_components/components-font-awesome/css/font-awesome.min.css" rel="stylesheet")
    link(rel="stylesheet" href="./calendar-files/styles.css")
block scripts
    script(src="./calendar-files/date-format.js")
    script(src="./calendar-files/ui.js")
    script(src="./calendar-files/date-picker.js")
block container
    div.form-section
        div.row
            form(role='form' method="GET" action="/tours/result?")
                div.col-md-4
                    div.form-group
                        input#location.form-control(type='text', placeholder='Country' name="country")
                div.col-md-4
                    div.form-group
                        input#location.form-control(type='text', placeholder='City' name="city")
                div.col-md-2
                    div.form-group
                        div.input-group
                            input#from.form-control(type='text', placeholder='From' name="beginTourDate")
                            span.input-group-addon
                                i.fa.fa-calendar(aria-hidden="true" )
                div.col-md-2
                    div.form-group
                        div.input-group
                            input#to.form-control(type='text', placeholder='To' name="endTourDate")
                            span.input-group-addon
                                i.fa.fa-calendar(aria-hidden="true")
                .col-md-2
                    button.btn.btn-default.btn-primary(type='submit') Search
                        <i class="fa fa-search" aria-hidden="true"></i>
    //- div
    //-     div.list-group.profile-tours.col-md-6.col-lg-6.col-sm-12.col-xs-12
    //-         each tour in tours
    //-         a.list-group-item.active= tour.headline
    //-             a.list-group-item= tour.country
    //-             a.list-group-item= tour.city
    //-             a.list-group-item= tour.description
