extends _layout
block container
        div.alert.alert-dismissible.alert-success
            button.close(type="button" data-dismiss="alert") &times;
            strong You successfully publish new excursion.
            a.alert-link(href="/excursion") Check it here.