<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title Document
body
    form(method="POST" action="/publicate")
        label
        | Username
            input(type="text" name="username")
        | Password
            input(type="password" name="password")
        | Email
            input(type="email" name="email")
        | Firstname
            input(type="text" name="firstname")
        | Lastname
            input(type="text" name="lastname")
        | Age
            input(type="text" name="age")
        | Country
            input(type="text" name="country")
        | City
            input(type="text" name="city")
        input(type="submit" value="Create")

        
    //- username: {type: String, validate: /[a-zA-Z0-9]+/, required: true, unique: true},
    //- password: {type: String, required: true},
    //- email:{type: String, required: true},
    //- firstname: {type: String, validate: /[a-zA-Z]+/, required: true},
    //- lastname:{type: String, validate: /[a-zA-Z]+/, required: true},
    //- age: {type: Number, min:0 , max:150, required: true},
    //- country: {type:String, required: true},
    //- city: {type:String, required: true},
    //- userOfferTours:[{}],
    //- userBoughtTours:[{}]