a {
    margin-left: 5px;
}

.excursion-img {
    width: 230px;
    height: 110px;
}

@media only screen and (min-width: 480px) {
    .excursion-img {
        width: 500px;
        height: 320px;
        float: right;
        border: 1px solid #2C3E50;
    }
}

h1 {
    text-align: left;
    text-shadow: 4px 2px 10px rgba(103, 103, 159, 1);
}

@media only screen and (min-width: 480px) {
    h1 {
        margin-bottom: auto;
        text-shadow: 4px 2px 10px rgba(103, 103, 159, 1);
    }
}

.br-line {
    font-weight: bold;
    letter-spacing: 2px;
    color: #999;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 5px;
    margin-bottom: 10px;
    width: 270px;
}

h5 {
    margin-bottom: 16px;
}

@media only screen and (min-width: 480px) {
    .br-line {
        font-weight: bold;
        letter-spacing: 2px;
        color: #999;
        border-bottom: 2px solid rgba(0, 0, 0, 0.1);
        padding-bottom: 5px;
        margin-bottom: 10px;
        width: 420px;
    }
}