body {
    overflow-x: hidden;
    background-image: url("../../public/images/background.jpg");
}

.nav-items {
    background-color: transparent;
    border: none;
}

.btn-travel-make {
    margin-left: 20px;
}

legend {
    font-weight: bold;
}

@media only screen and (min-width: 480px) {
    legend {
        margin-left: 190px;
    }
}

.footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #2C3E50;
    text-align: center;
}

.navigation {
    box-shadow: 10px 10px 5px grey;
}

.title {
    text-align: center;
    font-weight: bold;
}

.img-shadow {
    -webkit-box-shadow: 1px 4px 25px -3px rgba(0, 54, 71, 1);
    -moz-box-shadow: 1px 4px 25px -3px rgba(0, 54, 71, 1);
    box-shadow: 1px 4px 25px -3px rgba(0, 54, 71, 1);
}

.profile-tours {
    margin: auto;
    padding: 15px;
    display: inline-block;
}

.content-picture {
    display: block;
    border: 2px solid #2C3E50;
    border-radius: 8px;
    width: 100%;
    height: auto;
}

.footer-text {
    color: white;
}

.home-page {}